$background : #FDFFFC;
$sunyellow: #FF9F1C;
$darkblue : #011627;
$lightblue: #5A6FD8;
$whitepastel: #5A6FD8;
$gunmetal: #5A6FD8;
$amatic: "amatic sc";
$middleblue: #1E3888;
$cornyellow: #F5E663;
$babyblue: #47A8BD;
